.popular__title {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 30px;
}
.popular__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  justify-content: center;
  justify-items: center;
  gap: 50px;
  margin-top: 30px;
}
.popular__item {
  padding: 30px;
  box-shadow: 0 0 10px rgba(45, 62, 80, 0.3);
}
.popular__item img {
  width: 100%;
}
