@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'roboto-oh5';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'roboto-oh5';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'roboto-oh5';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'roboto-oh5';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::placeholder {
  color: #666;
}
::selection {
  background-color: blue;
  color: #fff;
}
input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #333;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}
.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
