.breadcrumb {
    margin-top: 50px;

    ol {
        list-style: none;
        display: flex;
        justify-content: flex-start;

        li {
            &:not(:first-child) {
                margin-left: 20px;
            }

            a {
                color: @main-color;
            }
        }
    }
}

@import '_config';
@import 'blocks/**/*';
@import './blocks/_header.less';
@import './blocks/_promo.less';
@import './blocks/_popular.less';
@import './blocks/_insta.less';
@import './blocks/_promo-list.less';
@import './blocks/_footer.less';
@import './blocks/_menu.less';
@import './blocks/_about.less';
@import './blocks/_contacts.less';